[submodule "JUCE"]
	path = JUCE
	url = https://github.com/DISTRHO/JUCE.git
[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF
	branch = develop
[submodule "DPF-Widgets"]
	path = DPF-Widgets
	url = https://github.com/DISTRHO/DPF-Widgets.git
