name: Build plugins
on:
  pull_request:
  push:
jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - id: commit
        uses: prompt/actions-commit-hash@v2
      - name: Build plugin
        run: |
          sudo apt install -yqq libglvnd-dev
          cmake -B build -DCMAKE_BUILD_TYPE=Release
          cmake --build build
      - name: Create release package
        working-directory: build
        run: |
          mkdir -p out/bin out/lib
          mv bin/Misstrhortion out/bin/
          mv bin/* out/lib/
          tar -caf build.tar.gz out/*
      - uses: actions/upload-artifact@v3
        with:
          name: Misstrhortion-${{ steps.commit.outputs.short }}-x86_64-linux.tar.gz
          path: build/build.tar.gz

  windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - id: commit
        uses: prompt/actions-commit-hash@v2
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ucrt64
          update: true
          pacboy: >-
            toolchain:p
            cmake:p
            ninja:p
            glew:p
      - name: Build plugin
        run: |
          cmake -B build -G Ninja -DCMAKE_BUILD_TYPE=Release
          cmake --build build
      - name: Create release package
        working-directory: build
        run: |
          cpack -G NSIS
          cpack -G ZIP
      - uses: actions/upload-artifact@v3
        with:
          name: Misstrhortion-${{ steps.commit.outputs.short }}-x86_64-windows.exe
          path: build/Misstrhortion-*-win64.exe
      - uses: actions/upload-artifact@v3
        with:
          name: Misstrhortion-${{ steps.commit.outputs.short }}-x86_64-windows.zip
          path: build/Misstrhortion-*-win64.zip

  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: distrho/dpf-cmake-action@v1
        with:
          target: macos-universal
          lto: true
